<!DOCTYPE html>
<html>
<head>
  <title>Iugu's Playground</title>

  <%= javascript_include_tag    "vendor" %>
  <%= javascript_include_tag    "iugu-ux" %>
  <%= javascript_include_tag    "jquery_ujs" %>
  <%= stylesheet_link_tag    "iugu-ux" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <%= yield %>
  </div>

</body>
</html>
